{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block content %}


<div class="container rounded mainContainerRounded centering">
	<div class="row">
        <div class="col-md-12">
        	<h2 class="centering">Delete Your Account</h2>  <br>
	        <form method="post">
			{% csrf_token %}
			     <h4> Are you sure you want to delete "{{ object }}" ? </h4> <br>
			    <div class="col-md-12">
			        <button type="submit" class="btn btn-primary btn-block addAccountBtn"><strong>SAVE</strong></button>
			        <a href="{% url 'main:account_list' %}"  class="btn btn-success btn-block addAccountBtn"><strong>BACK TO ACCOUNTS</strong></a>
			        <a  href="{% url 'auth:logout' %}?next={% url 'main:home' %}"><button type="button" class="btn btn-block btn-social btn-google centering" ><span type="button" class="fa fa-google"></span><strong>LOGOUT</strong></button> </a>
			    </div>
			</form>
        </div>
	</div>
</div>
{% endblock content %}