{% extends 'main/base.html' %}
{% load static %}
{% block content %}
<header class="header" id="header" style="padding-top: 140px;"><!--header-start-->
	<div class="container">
    	<figure class="logo animated fadeInDown delay-07s">
        	<a href="#"><img src="{% static 'img/logo.png' %}" alt=""></a>	
        </figure>	
        <h1 class="animated fadeInDown delay-07s">Welcome To Account Tracker</h1>
        <ul class="we-create animated fadeInUp delay-1s">
        	<li>You are one stop away from managing your accounts. <br>Please login through your google account to start enjoying Account Tracker</li>
        </ul>
        <div class="link animated fadeInUp delay-1s " style="background: transparent;padding: 0;">
            <a href="{% url 'social:begin' 'google-oauth2' %}" class="btn btn-block btn-social btn-google" style="width: 100%; padding-right: 20px;">
              <span type="button"  class="fa fa-google"></span> Log in with Google
            </a>
        </div>
    </div>
</header>
{% endblock content %}



